In [1]:
import pandas as pd
import os 
path = os.getcwd()

%cd C:\Users\Hli\Desktop\MT45_demo\DarwinexLabs-master\tools\Python
from MetaTrader_Helpers.Data_Processing.DWX_HISTORY_IO_v2_0_1_RC8 import DWX_MT_HISTORY_IO
_mt = DWX_MT_HISTORY_IO()

C:\Users\Hli\Desktop\MT45_demo\DarwinexLabs-master\tools\Python

In [2]:
Data_Directory = r'C:\Users\Hli\AppData\Roaming\MetaQuotes\Terminal\3212703ED955F10C7534BE8497B221F4\history\OANDA-v20 Live-1'
files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(Data_Directory):
    for file in f:
        if '.hst' in file:
            files.append(file)
Cleaned = []        
for file in files:
    Cleaned.append(file[:-4])

In [3]:
Datas = {}
f_ite = 0
a_ite = 0
for file in Cleaned:
    for i in range(1,7):
        try:
            frequency = int(file[-i:])
            f_ite = frequency
            a_ite = file[:-i]
        except:
            if f_ite in Datas:
                Datas[f_ite].append(a_ite)
            else:
                Datas[f_ite] = [a_ite]
            break

In [4]:
os.chdir(path)
for Frequency in list(Datas.keys()):
    Assets = Datas[Frequency]
    Historical = pd.DataFrame()
    for asset in Assets:
        temp = _mt._run_(_symbol= asset, _timeframe= Frequency)
        temp['Asset'] = asset
        Historical = pd.concat([Historical, temp])
    Historical = Historical.set_index([Historical.index, 'Asset'])
    Historical = Historical.sort_index(level = 0)
    file_name = str(Frequency) + '_Minutes_Data.csv'
    Historical.to_csv(file_name)

In [5]:
Temporary_DB = _mt._run_(_symbol= 'SPX500USD', _timeframe= 1440)

In [6]:
Temporary_DB

                       open    high     low   close  volume  spread  real_volume
open_time
2015-05-05 00:00:00  2113.2  2115.4  2085.2  2089.2   30297       0            0
2015-05-06 00:00:00  2089.5  2097.2  2064.8  2078.6   33336       0            0
2015-05-07 00:00:00  2078.1  2091.4  2060.6  2087.3   34097       0            0
2015-05-08 00:00:00  2087.6  2116.8  2087.6  2111.9   26261       0            0
2015-05-11 00:00:00  2113.2  2116.9  2099.1  2100.1   16738       0            0
2015-05-12 00:00:00  2100.4  2104.1  2082.5  2098.9   33267       0            0
2015-05-13 00:00:00  2099.2  2109.4  2094.7  2099.2   22626       0            0
2015-05-14 00:00:00  2099.3  2121.1  2094.9  2120.6   17588       0            0
2015-05-15 00:00:00  2120.6  2125.6  2115.9  2121.4   17704       0            0
2015-05-18 00:00:00  2122.3  2131.2  2114.9  2129.3   15252       0            0
2015-05-19 00:00:00  2129.3  2136.4  2123.8  2126.4   13967       0            0
2015-05-20 00:00:00  2126.4  2134.5  2121.8  2124.3   18669       0            0
2015-05-21 00:00:00  2124.0  2134.3  2117.6  2131.2   12803       0            0
2015-05-22 00:00:00  2131.1  2133.3  2125.1  2126.5   11723       0            0
2015-05-25 00:00:00  2126.5  2128.9  2120.6  2125.3    1486       0            0
2015-05-26 00:00:00  2125.3  2126.6  2098.0  2107.3   18342       0            0
2015-05-27 00:00:00  2107.6  2126.1  2103.2  2121.7   15547       0            0
2015-05-28 00:00:00  2122.0  2124.3  2112.0  2124.1   18859       0            0
2015-05-29 00:00:00  2124.0  2124.5  2103.6  2108.3   19777       0            0
2015-06-01 00:00:00  2108.1  2119.0  2101.7  2112.1   24374       0            0
2015-06-02 00:00:00  2112.0  2117.1  2095.5  2108.2   33032       0            0
2015-06-03 00:00:00  2107.8  2121.9  2107.8  2117.2   28406       0            0
2015-06-04 00:00:00  2116.8  2117.3  2092.5  2100.0   39744       0            0
2015-06-05 00:00:00  2100.3  2104.0  2084.7  2092.9   44948       0            0
2015-06-08 00:00:00  2092.6  2094.2  2077.2  2080.7   26181       0            0
2015-06-09 00:00:00  2080.4  2085.1  2069.6  2081.3   28255       0            0
2015-06-10 00:00:00  2081.3  2108.3  2080.6  2107.1   25356       0            0
2015-06-11 00:00:00  2106.9  2114.9  2103.8  2110.1   23511       0            0
2015-06-12 00:00:00  2110.4  2110.8  2090.6  2093.8   15291       0            0
2015-06-15 00:00:00  2084.1  2089.8  2071.6  2084.0   23047       0            0
...                     ...     ...     ...     ...     ...     ...          ...
2019-06-27 00:00:00  2910.9  2930.7  2910.1  2927.9   41431       0            0
2019-06-28 00:00:00  2929.2  2950.3  2925.1  2949.0   29665       0            0
2019-07-01 00:00:00  2964.9  2976.8  2950.8  2963.6   38907       0            0
2019-07-02 00:00:00  2964.0  2975.1  2953.8  2974.4   30499       0            0
2019-07-03 00:00:00  2974.6  2996.1  2969.1  2995.3   21444       0            0
2019-07-04 00:00:00  2997.4  2999.2  2992.6  2997.9   12802       0            0
2019-07-05 00:00:00  2997.9  2999.7  2966.9  2987.5   26052       0            0
2019-07-08 00:00:00  2988.7  2989.7  2968.9  2973.7   24558       0            0
2019-07-09 00:00:00  2973.1  2981.7  2959.1  2978.0   24728       0            0
2019-07-10 00:00:00  2976.7  3003.3  2966.9  2992.2   32171       0            0
2019-07-11 00:00:00  2992.4  3002.5  2988.2  2999.8   27153       0            0
2019-07-12 00:00:00  2998.8  3013.7  2998.2  3010.3   20211       0            0
2019-07-15 00:00:00  3010.6  3019.5  3006.8  3013.4   18837       0            0
2019-07-16 00:00:00  3013.1  3017.6  3000.3  3002.0   18699       0            0
2019-07-17 00:00:00  3002.0  3008.8  2976.5  2977.3   21154       0            0
2019-07-18 00:00:00  2976.9  3001.4  2970.5  2999.7   29473       0            0
2019-07-19 00:00:00  3000.4  3005.7  2965.6  2966.9   35746       0            0
2019-07-22 00:00:00  2970.4  2989.4  2968.6  2985.7   33994       0            0
2019-07-23 00:00:00  2985.5  3004.5  2983.7  2999.3   28528       0            0
2019-07-24 00:00:00  2998.8  3018.3  2992.2  3014.4   27627       0            0
2019-07-25 00:00:00  3014.1  3023.9  2994.3  3002.1   39926       0            0
2019-07-26 00:00:00  3003.9  3025.6  3002.3  3019.2   24090       0            0
2019-07-29 00:00:00  3020.0  3023.6  3011.6  3019.1   20720       0            0
2019-07-30 00:00:00  3018.9  3023.6  2997.7  3010.9   33231       0            0
2019-07-31 00:00:00  3012.4  3016.9  2954.4  2970.7   89867       0            0
2019-08-01 00:00:00  2967.3  3010.5  2940.8  2945.7  145290       0            0
2019-08-02 00:00:00  2947.7  2957.2  2909.7  2930.9  167652       0            0
2019-08-05 00:00:00  2923.4  2930.0  2817.2  2821.5   77822       0            0
2019-08-06 00:00:00  2807.9  2880.3  2772.4  2871.9  101494       0            0
2019-08-07 00:00:00  2869.8  2872.2  2862.6  2863.7    1229       0            0

[1102 rows x 7 columns]